@import "tailwindcss";

@layer utilities {
    .bg-earthGreen {
        background-color: #2D5A27;
    }

    .text-earthGreen {
        color: #2D5A27;
    }

    .border-earthGreen {
        border-color: #2D5A27;
    }

    .focus\:ring-earthGreen:focus {
        --tw-ring-color: #2D5A27;
    }
}

/* Map Pulsing Icon */
.css-icon {}

.gps_ring {
    border: 3px solid #2D5A27;
    -webkit-border-radius: 30px;
    height: 18px;
    width: 18px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0;
    background-color: #2D5A27;
    border-radius: 50%;
    box-shadow: 0 0 10px #2D5A27;
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}